body{
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
}

nav{
  padding: 5px;
  position: sticky;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navItem a{
  color: black;
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
}

.logo {
  font-size: 30px;
  font-weight: 600px;
}

#home{
 /* align-content: center;*/
}

.card1 {
  margin-top: 20px;
  width: 90%;
  height: 500px;
  background-color: blanchedalmond;
  border-radius: 40px;
  align-content: center;
}

.card1 h1 {
  font-size: 45px;
}

.card1 p {
  margin-top: -30px;
  font-size: 18px;
}

.card1 a {
  text-decoration: none;
  color: white;
  background-color: darkblue;
  padding: 10px;
  border-radius: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.card2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  margin-top: 50px;
  width: 90%;
  height: 500px;
}

.card2a {
  width: 50%;
  text-align: left;
  padding-left: 10px;
}

.card2 h1,
.card4a h1,
.card4b h1,
.card5 h1 {
  font-size: 38px;
}

.card2a .p,
.card4a p,
.card4b p{
  margin-top: -20px;
  font-size: 18px;
}

.card2a a{
  text-decoration: none;
  color: white;
  background-color: darkblue;
  padding: 10px;
  border-radius: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.card2b {
  width: 50%;
}

.card2b img {
  border-radius: 20px;
}

.card3 {
  margin-top: -50px;
}

.card3 .p {
  margin-top: -10px;
}
.card3 p,
.card5 p {
  font-size: 18px;
}

.card4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  width: 90%;

}

.card4a,
.card4b {
  padding-left: 60px;
  padding-bottom: 60px;
}

.card4a {
  width: 40%;
  border-radius: 20px;
  text-align: left;
  background-color: blanchedalmond;
}

.card4b {
  width: 40%;
  text-align: left;
  border-radius: 20px;
  background-color: white;
}



.card4a a,
.card4b a,
.card5 a {
  text-decoration: none;
  color: white;
  border: 2px;
  margin-top: 10px;
  background-color: black;
  border-color: black;
  padding: 10px;
  border-radius: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.card5 {
  width: 90%;
  margin-top: 30px;
  border-radius: 20px;
  background-color: white;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 30px;
}


.card5 h1,
.card5 p,
.card5 a{
  margin-left: 70px;
}

.arrows {
  font-size: 20px;
  display: flex;
}

.card6 {
  width: 90%;
  margin-top: 50px;
  border-radius: 20px;
  padding: 20px;

  display: flex;
  
}

.card6a {
  width: 40%;
  text-align: left;
}

.card6b {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.test {
  text-align: left;
  padding: 10px;
  border-radius: 20px;
  height: fit-content;
}

.test1 {
  background-color: blanchedalmond;
}

.test2 {
  color: white;
  background-color: darkblue;
}

.card7 {
  width: 90%;
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.partnerspic {
  width: 80%;
}

.card8 {
  margin-top: 100px;
}

.card9 {
  display: flex;
  justify-content: space-evenly;
}

.card9 div {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  height: 200px;
}

.card9 a{
  text-decoration: none;
  color: white;
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.card9a a{
  background-color: orange;
}
.card9b a{
  background-color: green;
}
.card9c a{
  background-color: palevioletred;
}